*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
     width: 100%;
     position: fixed; 
     /* background: blue; */
}

.header .navbar{
    padding-left: 10rem;
}

.header .navbar .navbar-nav{
    padding-left: 3rem;   
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header .navbar .navbar-nav .nav-item{
    padding: 2px 5px;
}

.header .navbar .navbar-nav .nav-item .nav-link:hover{
    padding: 5px 18px;
    background: #fff;
    border-radius: 2rem;
    color: #B73E3E;
}

.nav-link #cl:hover{
    background-color: #B73E3E;
    
}

#explore .nav-link{
    padding: 5px 18px;
    background: #fff;
    border-radius: 2rem;
    color: #B73E3E;
}

.header .navbar .navbar-nav .nav-link{
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    word-spacing: 1px;
    text-transform: capitalize;
    letter-spacing: 1px;
}

#lg{
    padding: 2px 18px;
    border: 1px solid ;
    border-radius: 2rem;
}

#brd{
    border: 1px solid #395B64;
    width: 80%;
    margin-left: 9rem;
}

.dropdown-menu{
    background-color: #EEEE;
    margin-top: 0.2rem;
    margin-left: 6rem;
    
}

.img1{
    width: 100%;
    height: 90vh;
}



/* .header .navbar .navbar-nav .nav-link:active{
    /* padding: 2px 10px; */
    /* background: white;
    color: red;
} */ 





























































































































/* 
head{
    width: 100%;
}


header{
	position:absolute;
	width:100%; 
	top:0; 	
	background-color:red;
	padding-top:10px;	
}

.navbar{
	position: absolute;
	width: 100%;
	top: 10px;
	padding:0; 
    background: #c50b0e;
}

.navbar-nav{
	margin-top:10px;
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.navbar-nav .nav-link{
	color:red;
	font-weight:700; 
	text-transform:uppercase;
	font-size:15px; 
	padding-right:0!important;
	padding-left:0!important;
	margin:0 1em;
    padding: 4px 14px;
    background: white;
    border-radius: 15px;
}

.navbar-nav .active > .nav-link, .navbar-nav .nav-link.active,
.navbar-nav .nav-link.show, .navbar-nav .show > .nav-link{

	color: #c50b0e !important;
}

.navbar-brand{
	padding:0;
	margin:0; 
}

.navbar-brand img{
	width:100%;
}

.main-header{
	position:static; 
	background-color:#ed2025;
	height:140px; 
}

.fixed{
	position:fixed;
	width:100%; 
	height:140px; 
	top:0;	
	padding-top: 10px;
	background-color:#ed2025;
	background: linear-gradient(130deg, #c50b0e 29%, #ed2025 33%);
	box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, .13);
	z-index: 999;
} */

/*Menu Hover Effects*/

/* .navbar-nav a {
  color: #fff;
  position: relative;
  text-decoration: none;
}
.navbar-nav a:before,
.navbar-nav a:after {
  position: absolute;  
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.navbar-nav a:before {
  bottom: 0;
  left:0; 
  display: block;
  height: 2px;
  width: 0%;
  content: "";
  background-color: #fff;
}

.navbar-nav a:hover:before,
.navbar-nav .active a:before {
  opacity: 1;
  width: 100%;
}
.navbar-nav a:hover:after,
.navbar-nav .active a:after {
  max-width: 100%;
} */